In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_excel('pivot_table_data.xlsx')
df.head()

        Date  Color Region  Units  Sales
0 2016-01-03    Red   West      1     11
1 2016-01-13   Blue  South      8     96
2 2016-01-21  Green   West      2     26
3 2016-01-30   Blue  North      7     84
4 2016-02-07  Green  North      8    104